*{
    box-sizing: border-box;
}
body{
    background-image: url(mikroszkop/hatter.jpg);
}
main{
    font-family: 'Risque',cursive;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'h h h'
    'n ar as'
    'f f f';
    margin: auto;
    max-width: 1500px;
    width: 90%;
}
header{
    grid-area: h;
    background-color: #1f7a7a;
    font-family: 'Risque',cursive;
    color: #ffffe6;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    text-align: center;
    margin: 30px 0px;
    width: 80%;
    font-size: 400%;
}
nav{
    grid-area: n;
    overflow: hidden;
    background-color: #ffffe6;
}
nav ul{
    list-style-type: none;
}
nav li{
    margin: 5px;
    padding: 5px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 22px;
}
nav a:hover{
    color: #ffffe6;
    background-image: url(menu.png);
    background-color: #1f7a7a;
}
article{
    grid-area: ar;
    border-left: 2px dotted #1f7a7a;
    border-right: 2px dotted #1f7a7a;
    background-color: #ffffe6;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'sec sec'
    'kep sz'
    'sz2 sz2';
}
section{
    grid-area: sec;
}
section h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20pt;
}
section h2{
    text-transform: capitalize;
    font-weight: bold;
}
section ul{
    list-style-image: url(mikroszkop/mikroba.jpg);
    list-style-position: inside;
}
#div1{
    grid-area: kep;
    padding: 10px;
    background-color: #1f7a7a;
    margin: 20px;
    color: #ffffe6;
    height: 450px;
}
#szoveg{
    grid-area: sz;
}
#szoveg2{
    grid-area: sz2;
}
aside{
    grid-area: as;
    display: block;
    text-align: justify;
    font-size: 85%;
    padding: 12px;
    margin: 0px;
    background-color: #ffffe6;
}
aside a{
    text-decoration: none;
    color: #1f7a7a;
}
aside a:hover{
    background-color: #1f7a7a;
    color: #ffffe6;
}
aside ul{
 list-style-type: none;
 padding: 0px;
 color: #1f7a7a;
}
footer{
    grid-area: f;
    background-color: #1f7a7a;
    color: #ffffe6;
    text-align: center;
}

@media screen and (max-width:768px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'h'
        'n'
        'ar'
        'as'
        'f';
    }
    article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'sec'
        'kep'
        'sz'
        'sz2';
    }
}